<h1><%= @user.profile_name %></h1>
<% if @user.admin? %>
	<h2>Admin user</h2>
<% else %>
	<h2>Regular user</h2>
<% end %>
<% if current_user.id == @user.id %>
<%= link_to "Edit profile", edit_user_registration_path %><br><br>
<% end %>
<% if @posts %>
	<% @posts.each do |post| %>
		<%= link_to post.location, post %><br>
	<% end %>
<% end %>
